#topnav a:link a:visited {
    color:#df7027
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color:#699fa1;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
      }
      .active {
        background-color: #df7027;
      }
      li {
        float: left;
      }
      
      li a {
        display: block;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size:x-large;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      li a:hover {
        background-color:#a5d6d9;
      }